.issues-container {
  padding-top: 30px;
}

.issues-card {
  background: #FAFAFA;
  // height: 300px;
  width: 100%;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 16px;
  transition: box-shadow .2s ease;
  p {
    font-weight: 200;
  }
  &:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transform: translateY(-1px);
  }
}
