.issues-wrapper {
  padding-top: 30px;
}

.issues-container {
  flex-grow: 1;
}

.alternatives-container {
  position: relative;
  margin-bottom: 128px;
}

.results {
  font-weight: 200;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }
}

.issue-card-container {
  position: relative;
  .upvote {
    bottom: 0;
  }
}

.issues-card {
  background: #FAFAFA;
  // height: 300px;
  width: 100%;
  // border-radius: 10px;
  padding: 24px 92px 24px 24px;
  margin-bottom: 16px;
  transition: box-shadow .2s ease;
  p {
    font-weight: 200;
  }
  &:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transform: translateY(-1px);
  }
  @include media-breakpoint-down(sm) {
    padding: 16px;
  }
}

.upvote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  flex-shrink: 0;
  position: absolute;
  right: 20px;
  top: 0;
  i {
    color: grey;
    &:hover {
      color: #000000;
    }
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.new-issue {
  @include media-breakpoint-down(sm) {
    margin-bottom: 16px;
  }
}

.top-ad {
  width: 100%;
  height: 160px;
  background-color: #EAEAEA;
  background-size: cover;
  margin-bottom: 30px;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.side-ad {
  width: 220px;
  background-size: cover;
  position: sticky;
  top: 24px;
  flex-shrink: 0;
  height: calc(100vh - 152px);
  min-height: 370px;
}

.side-ad-container {
  margin-left: 24px;
  a {
    height: calc(100vh - 152px);
    min-height: 370px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

