<% formed_groups.each_with_index do |formed_group, index| %>
  <div class="formed-group <%= formed_group.group.level %> <%= 'reveal' if failed || @attempt.failed %>">
    <h5><%= formed_group.group.title %></h5>
    <p class="mb-0"><%= formed_group.group.words.join(", ") %></p>
  </div>
<% end %>