<div class="container mt-5 pt-5" data-controller="guesses">
  <div class="mt-5 pt-5">
    <p class="text-center">Game finished: <%= @connection.completed %></p>
    <% if @message.present? %>
      <div class="popup">
        <%= @message %>
      </div>
    <% end %>
    <div id="form">
      <%= render "form", connection: @connection, solved_connections: @solved_connections, remaining_words: @remaining_words %>
    </div>
  </div>
</div>

