// Specific CSS for your home-page

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
  min-height: 580px;
}

.banner-content {
  margin-right: 160px;
  h1 {
    font-size: 40px;
    font-weight: 900 !important;
    @include media-breakpoint-down(sm) {
      font-size: 52px;
    }
  }
  p {
    max-width: 380px;
    font-size: 18px;
    margin: 32px 0;
    font-weight: 300;
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-right: 0;
    p {
      max-width: 680px;
    }
  }
}

.banner-form {
  position: relative;
}

.search_query {
  width: 100%;
}

.banner-image {
  width: 380px;
  border-radius: 10px;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.banner-btns {
  display: flex;
  align-items: center;
  .cb-btn {
    width: 100%;
    @include media-breakpoint-down(lg) {
      width: unset;
      min-width: 352px;
    }
    @include media-breakpoint-down(sm) {
      min-width: unset;
      width: 100%;
    }
  }
  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
  }
}

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  .image {
    height: 80px;
    @include media-breakpoint-down(sm) {
      height: unset;
      width: 33.33%;
    }
  }
  @include media-breakpoint-down(lg) {
    justify-content: flex-start;
  }
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.home-support {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  p {
    color: #F0E0FF;
    font-weight: 300;
    font-size: 18px;
    width: 400px;
  }
}

.error-message {
  border: 1px solid #CC0100;
  background: #CC0100;
  padding: 12px;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  p {
    color: #FFFFFF;
  }
}

.err-msg {
  max-width: 664px;
}

