// Specific CSS for your home-page

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
  min-height: 580px;
}

.banner-content {
  margin-right: 160px;
  h1 {
    font-size: 40px;
    font-weight: 900 !important;
    @include media-breakpoint-down(sm) {
      font-size: 52px;
    }
  }
  p {
    max-width: 380px;
    font-size: 18px;
    margin: 32px 0;
    font-weight: 300;
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    margin-right: 0;
    p {
      max-width: 680px;
    }
  }
}

.banner-form {
  position: relative;
}

.search_query {
  width: 100%;
}

.banner-image {
  width: 380px;
  border-radius: 10px;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.banner-btns {
  display: flex;
  align-items: center;
  .cb-btn {
    width: 100%;
    @include media-breakpoint-down(lg) {
      width: unset;
      min-width: 352px;
    }
    @include media-breakpoint-down(sm) {
      min-width: unset;
      width: 100%;
    }
  }
  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
  }
}

.road-break {
  transform: scaleY(1.01);
}

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  .image {
    height: 80px;
    @include media-breakpoint-down(sm) {
      height: unset;
      width: 33.33%;
    }
  }
  @include media-breakpoint-down(lg) {
    justify-content: flex-start;
  }
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.home-support {
  max-width: 340px;
  color: #F0E0FF;
  @include media-breakpoint-down(sm) {
    margin: 60px 0 120px;
    max-width: 100%;
  }
}

.contributor-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
  @include media-breakpoint-down(sm) {
    align-items: flex-start;
  }
}

.contributor-container {
  position: relative;
  margin-bottom: 60px;
  @include media-breakpoint-down(sm) {
    margin: 60px 0;
  }
} 

.contributors {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 340px;
  padding: 24px;

  flex-shrink: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 16px;

  @include media-breakpoint-down(sm) {
    position: relative;
    align-items: flex-start;
    padding: 0;
  }

  h1 {
    font-size: 22px;
    font-weight: 900 !important;
    color: #F0E0FF;
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: 900 !important;
    color: #F0E0FF;
  }
  p {
    color: #F0E0FF;
    font-weight: 300;
    font-size: 14px;
    // width: 400px;
  }
}

.contributor-img {
  width: 600px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.error-message {
  border: 1px solid #CC0100;
  background: #CC0100;
  padding: 12px;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  p {
    color: #FFFFFF;
  }
}

.err-msg {
  max-width: 664px;
}

