<div class="upvote">
  <% if user_signed_in? %>
    <% if current_user.voted_for? subject %>
        <i class="bi bi-caret-up-fill disabled"></i>
    <% else %>
      <%= link_to subject.class.name == "Issue" ? upvote_issue_path(subject) : upvote_alternative_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-up-fill"></i>
      <% end %>
    <% end %>
    <p class="mb-0 text-center"><%= subject.votes_for.size %></p>
    <% if current_user.voted_for? subject %>
      <%= link_to subject.class.name == "Issue" ? remove_upvote_issue_path(subject) : remove_upvote_alternative_path(subject), data: { "turbo-method": :post } do %>
        <i class="bi bi-caret-down-fill"></i>
      <% end %>
    <% else %>
      <i class="bi bi-caret-down-fill disabled"></i>
    <% end %>
  <% else %>
    <i class="bi bi-caret-up-fill disabled"></i>
    <p class="mb-0 text-center"><%= subject.votes_for.size %></p>
    <i class="bi bi-caret-down-fill disabled"></i>
  <% end %>
</div>
