.upload-photo {
  border: 2px solid #5A0CA3;
  padding: 14px 20px;
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
  background-color: #EDE4F5;
  border-radius: 10px;
  margin: 0;
  color: #5A0CA3;
}

.resource-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
}

.resource-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  p {
    font-weight: 200;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.resource-image {
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  width: 100%;
}

.crud-links {
  position: absolute;
  background: rgba(0,0,0,0.4);
  padding: 5px 10px;
  border-radius: 5px;
  top: 5px;
  right: 5px;
  a {
    color: #FFF;
    font-size: 20px;
    margin: 3px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #590CA3;
    }
  }
}

.resource-image-container {
  position: relative;
  .upvote {
    top: unset;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 42px;
    p, i {
      color: #FFF;
    }
    i:hover {
      color: #590CA3;
    }
  }
}
