<section class="wrapper">
  <div class="banner">
    <div class="banner-content">
      <h1>Find solutions for your issues</h1>
      <p>Search for an issue that you've been stuck on and find solutions posted by the Le Wagon alumni community!</p>
      <div class="banner-form">
        <%= simple_form_for :search, url: issues_path, method: "GET", html: { class: 'd-flex' } do |f| %>
          <%= f.input :query, label: false, placeholder: "What issue are you having?", input_html: { class: "form-control form-input inline-form w-100" } %>
          <%= f.submit "SEARCH", class: "btn form-btn" %>
        <% end %>
      </div>
    </div>
    <%= image_tag 'hero-image.png', class: 'banner-image', alt: 'Couple of codebreakers' %>
  </div>
</section>
<section class="bg-purple">
  <div class="wrapper wrapper-p">
    <div class="home-support">
      <p class="mb-0 text-center">Support the Le Wagon community by uploading solutions for issues you’ve come across in your time as a developer.</p>
    </div>
  </div>
</section>
