.primary-button {
  height: 54px;
  background: linear-gradient(to right, #590CA3, #A30C15);
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
  border: none;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 0 16px;
  min-width: 120px;
  transition: background 1s ease;
  &:hover {
    color: #FFFFFF;
    background: linear-gradient(to right, #45097F, #860911);
  }
}

.secondary-button {
  height: 54px;
  background: #FFFFFF;;
  color: #A30C15;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #590CA3;
  box-sizing: border-box;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 0 16px;
  min-width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background 1s ease;
  
  &:hover {
    color: #FFFFFF;
    background: linear-gradient(to right, #45097F, #860911);
  }
}

.con-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text-link {
  display: inline-flex;
  background: -webkit-linear-gradient(0deg, #590CA3, #A30C15);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 16px;
  &:hover {
    border-bottom: 1px solid #850d4f;
  }
}
