.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  background-color: #F3E6FF;
  border: 1px solid #590CA3;
  border-radius: 20px;
  color: #590CA3;
  font-weight: 200;
  margin-right: 6px;
  margin-bottom: 10px;
  img {
    height: 16px;
    margin-left: 4px;
  }
}

.tag-small {
  padding: 2px 8px;
  font-size: 12px;
  margin-right: 1px;
  margin-bottom: 3px;
  img {
    height: 10px;
    margin-left: 4px;
  }
}

.accordion {
  margin-bottom: 16px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.accordion-body {
  padding: 0;
}

.accordion-button {
  background-color: #FFFFFF !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: #000000 !important;
}

.accordion-item {
  border: none;
  background: transparent;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230E0000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.ruby, .rails {
  border-color: #CC0100;
  color: #CC0100;
  background-color: #FFD6D6;
}

.javascript {
  border-color: #F7DF1C;
  color: #F7DF1C;
  background-color: #9D8F00;
}

.html {
  border-color: #E44D27;
  background-color: #FFD8CE;
  color: #E44D27;
}

.css {
  border-color: #264dE3;
  color: #264dE3;
  background-color: #B9C7FA;
}

.github {
  border-color: #000000;
  color: #000000;
  background-color: #DADADA;
}

.heroku {
  border-color: #590CA3;
  color: #590CA3;
  background-color: #DBB5FF;
}

// SELECT 2

.select2-container--default .select2-selection--multiple {
  min-height: 54px;
  border: none;
  border-radius: 10px;
  background-color: #F4F4F4;
  padding: 0.375rem 0.75rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  display: inline-block;
  padding: 4px 14px 4px 40px;
  background-color: #DCB9FF;
  border: 1px solid #590CA3;
  border-radius: 20px;
  color: #590CA3;
  font-weight: 200;
  margin-left: 4px;
  margin-top: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  height: 100%;
  padding: 0 8px 0px 10px;
  color: #590CA3;
  border-color: #590CA3;
  font-weight: 200;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #6620AC;
}

.select2-container--default .select2-results__option--selected {
  background-color: #DBB9FF;
  color: #350862;
}

.select2-dropdown {
  border-color: #F4F4F4;
}

// ADVANCED CHECKBOXES

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  padding: 4px 14px;
  border-radius: 50rem;
  background-color: #ffffff;
  color: #580DA3;
  border: 1px solid #580DA3;
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
  &:hover {
    background-color: #DCB9FF;
  }
}

.tag-selector:checked + label {
  background-color: #580DA3;
  color: white;
}
